<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Iulia Albota{% endblock %}</title>
        <meta name="description" content="Despre carte si alte arte">
        <meta name="author" content="Iulia Albota">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{asset('assets/public/css/bootstrap_1.css')}}"/>
            <link rel="stylesheet" type="text/css" href="{{asset('assets/public/css/base.css')}}"/>
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('assets/public/img/mysql.png') }}" />

    </head>
    <body>
        {% block body %}
            <div class="container-fluid">
            </div>
            {{ render(controller('AppBundle:Default:navigation')) }}
        {% endblock %}


        {% block javascripts %}
            <script src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
